:root{
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --address-color: rgba(255, 255, 255, 0.6);
  --primary-white-color: #FFFFFF;
  --primary-bghero-color: #2f303a;
  --logo-color: #000000;
  --primary-section-color: #f5f4fa;
 }

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--title-color);
  letter-spacing: 0.03em;
}
/* rest */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
ul {
padding-left: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height:auto;
}
 
 .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
   
} 
/* утиліти */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.hero {
  background-color: var(--primary-bghero-color);
}
/* Hover and focus effects */
.tel:focus,
.tel:hover,
.mail:focus,
.mail:hover,
.site-nav .link:hover,
.site-nav .link:focus,
.contacts-header-link:hover,
.contacts-header-link:focus
{
  color: var(--accent-color);
}
/* header */
.header .container {
  display: flex;
  align-items: center;
 
} 
.header {
    border-bottom: 1px solid 
    #ECECEC;
} 
.logo {
   margin-right: 93px;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none; 
    color: var(--accent-color);  
}
.logo-color {
    color: var(--logo-color)
}
/* nav */
.site-nav {
  display: flex;
        
}
.site-nav .site-nav-item+ .site-nav-item {
  margin-left: 50px;
  display: block;
}
.site-nav-item {
  position: relative;
}
.nav-link.link-activ::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;

  height: 4px;
  width: 100%;

  background-color: var(--accent-color);
  border-radius: 4px;
}

.nav {
  display: flex;
  gap: 50px;
  margin-left: auto;
      }  


.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   

.list 
.link  {
  font-weight: 500;
  line-height: 1.14;
  color: var(--title-color);
  text-decoration: none;
  list-style: none;
}
.contacts-header-link {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-icon {
margin-right: 10px;
fill: currentColor;

}

.mail,
.tel {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.link-activ{
    color: var(--accent-color);
    text-decoration: none;
}


/* hero */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.hero{
  padding-top: 200px;
  padding-bottom: 200px;
    text-align: center;
    background-color: var(--primary-bghero-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/hero/Img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    
}

.hero-title {
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero-button {
  
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  cursor: pointer;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 1px 0px 2px rgb(0 0 0 / 20%), 1px 0px 1px rgb(0 0 0 / 14%), 3px 0px 1px rgb(0 0 0 / 12%);}

  .modal-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--primary-white-color);
    cursor: pointer;
    color: #000000;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:focus,
.modal-button:hover{
    color: var(--accent-color);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;

    width: 100%;
    
}
/* Forma */
.form-title {
    margin-bottom: 12px;
    color: var(--title-color);
    
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 00.03em;
    text-align: center;

    display: block;
}


.modal-registr-form{
  padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.register-form-group{
    display: flex;
    flex-direction: column;
    
    margin-bottom: 20px;
    gap: 10px;
    }

.form-label {
    display: flex;
    flex-direction: column;

    position: relative;
}


.form-label-text{
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    text-align: left;

    color: var(--text-color);
}


.form-input {
    display: block;
    width: 448px;
    
    padding: 11px 0px 11px 12px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.modal-svg{
  fill: currentColor;
}


.form-input:focus,
.form-input:hover,
.input-agreement:focus,
.input-agreement:hover{
    border: 1px solid var(--accent-color);
    outline: 1px solid var(--accent-color);
}


.form-svg {
    position: absolute;
    bottom: 11px;
    left: 12px;

    fill: var(--title-color);

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-input:focus + .form-svg,
.form-input:hover + .form-svg
{
    fill: var(--accent-color);
}


.modal-comment{
width: 448x;
height: 120px;
padding: 12px 16px;

font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;

color: rgba(117, 117, 117, 0.5);

border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

resize: none;
}

.icon-check{
    display: block;
    width: 16px;
    height: 15px;

    background-image: url(../images/icon/Vector.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.input-agreement:checked + .icon-check{
    background-image: url(../images/icon/check.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.group-btn{
    padding: 10px 52px;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.62;
    border: 0;
    border-radius: 4px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-agreement{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;

    margin-bottom: 30px;
}

.text-agreement{
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.link-agreement{
    color: var(--accent-color);
}

.group-btn:hover,
.group-btn:focus{
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
     0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12); 
}


/* Переваги */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-list
{ display: flex;
  justify-content: center;
  gap: 30px;}

.benefits-block {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--primary-section-color);
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 4%;
}
.benefits-icon {
  width: 70px;
  height: 70px;
  
}
.benefits-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color)
}
.benefits-text {
  
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color)
}
/* Особливості */
.features {
  padding-top: 0;
}
.features-list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.features-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color)
}
.thumb {
  position: relative;
}
.thumb-text {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-white-color);
  text-transform: uppercase;
}
/* Наша команда */
.team{
  background-color: var(--primary-section-color) ;
}
.section.team .team-list-item {
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-block {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  }
.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color)
}
.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  }
.team-item {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color)
}
.team-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color)
}
/* block-icon */
.action {
  display: flex;
  }
.action .action-item+ .action-item {
  margin-left: 10px;
  }

.action-item {
  width: 44px;
  height: 44px;
}
.action-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #AFB1B8;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.action-link:focus,
.action-link:hover {
  background-color: var(--accent-color);
  color:  var(--primary-white-color);
}

.team-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
   
 }
/* Постійні клієнти */
.client-list {
    display: flex;
  }
.client-tittle {
  font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
color: var(--title-color);
}
.client-item {
  width: 170px;
  height: 92px;
    }

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
   color: var(--accent-color);
   border-color: var(--accent-color);
      }

.client .client-item+ .client-item {
  margin-left: 30px;
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
/* footer */

.footer{
    background-color: var(--primary-bghero-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline; 
} 
.footer-adress {
  margin-right: 70px;
}
.footer-logo {
  margin-bottom: 20px;
  display: block;
  font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none; 
    color: var(--accent-color)
}
.logo-color-footer{
    color: var(--primary-white-color);
}
.footer-contacts-item {
  margin-bottom: 9px;
}
.address-map {
  font-size: 14px;
 line-height: 1.71;
 letter-spacing: 0.03em;
 color: var(--primary-white-color);
 font-style: normal;
 text-decoration: none; 
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-mail,
.adress-tel {
  margin-bottom: 9px;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--address-color);
font-style: normal; 
text-decoration: none;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
.address-map:hover,
.address-map:focus,
.address-mail:hover,
.address-mail:focus,
.adress-tel:hover,
.adress-tel:focus {
color:var(--accent-color);
}

/* footer-icon */


.footer-subtitle {
  font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;

margin-bottom: 20px;
}

.footer-action {
  display: flex;
   
  }
  .footer-action .footer-action-item+ .footer-action-item {
  margin-left: 10px;
  
}
.footer-action-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #42424b;
  color: var(--primary-white-color);
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.footer-action-link:focus,
.footer-action-link:hover {
  background-color: var(--accent-color);
  color:  var(--primary-white-color);
}

.footer-team-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
    }

    .subscription-conteiner{
      margin-left: auto;
  }
  
  
  .subscription-form{
      display: flex;
      align-items: center;
  
        gap: 12px;
  }
  
  
  .subscription{
      display: flex;
      flex-direction: column;
  }
  .subscription-mail{
  color: var(--primary-white-color)
  }
  
  
  .subscription-form input {
      width: 358px;
      padding: 16px 295px 16px 16px;
  
  
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      
      border-radius: 4px;
  }
  
  
  .btn-subscription{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 28px;
      border-radius: 4px;
      gap: 10px;
      border: 0;
      width: 200px;
      height: 50px;
  
  
      font-size: 16px;
      line-height: 1.6;
      letter-spacing: 0.06em;
      font-weight: 700;
      color: var(--primary-white-color);
      background-color: var(--accent-color);
  }
  

/* portfolio project */
.filter{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.filter-item:hover,
.filter-item:active,
.filter-item:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-item {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
background: #F5F4FA;
border-radius: 4px;
border: 1px solid transparent;
cursor: pointer;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list{
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;

}
.project-item {
  flex-basis: calc((100% - 30px * 2) / 3);
}
.project-img {
  width: 370px;
}
.project-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-block {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}
.project-subtitle {
  margin-bottom: 4px;
  font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-color);
}

.project-text {
font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--text-color);
}
.project-thumb {
  position: relative;
  overflow: hidden;
  }
  .project-link:hover .project-thumb-text,
  .project-link:focus .project-thumb-text
   {
    transform: translateY(0);
  }  
.project-thumb-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.33;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
